node_modules
# Ignore hidden folders
.git/
.vscode/*
.idea/
.deploy/

# Ignore non-hidden folders
node_modules/
logs/*

# Accept files from ignored folders
!.vscode/settings.json
!logs/.gitkeep

# Ignore setup files
*.env

# Ignore files
